/* /* body {
  font-family: Arial, Helvetica, sans-serif;
}
.counter-holder {
  text-align: center;
}
.count {
  font-size: 60px;
}
button {
  padding: 5px;
  margin: 5px;
  background-color: rgba(66, 112, 205, 0.952);
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}
button:hover {
  background-color: rgba(66, 112, 205, 0.896);
}
.color-holder {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Colorpicker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arila, serif;
}

.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input[type="color"] {
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}
.add {
  background-color: rgb(0, 148, 84);
  padding: 10px;
  margin: 0px;
  width: 70px;
}
.delete {
  background-color: rgb(155, 24, 10);
  padding: 10px;
  margin: 0px;
  width: 70px;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d2;
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
.toDoList {
  text-align: center;
}
.text {
  flex: 1;
}
.tdin {
  padding: 10px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
} */
/* body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  display: flex;
  color: aliceblue;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/back-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.clock-container {
  backdrop-filter: blur(10px);
}
.clock {
  font-size: 5rem;
} */
.body {
  font-family: Arial, Helvetica, sans-serif;
}
.stop-watch-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(83, 82, 82, 0.844);
  padding: 30px;
  border-radius: 10px;
  background-color: #9fad33;
  color: aliceblue;
  font-size: 2rem;
}
button {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: aliceblue;
  border: none;
}
.start {
  background-color: #3f9d79;
}
.stop {
  background-color: #bc3232;
}
.reset {
  background-color: #1958b0;
}
