* {
  padding: 0px;
}
.card {
  margin: 10px;
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 1px solid;
  border-color: rgba(105, 103, 101, 0.281);
  padding: 6px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(113, 113, 112, 0.281);
}
.card-image {
  width: 70px;
  height: 98px;
  border-radius: 50%;
}
.card-title {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
.card-description {
  font-size: 10px;
}
